* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #151515;
  color: #ff8c42;
  font-family: "Quicksand", sans-serif;
}

/* HOME */
.home {
  width: 100%;
  height: 1080px;
}

/* navbar */
.home__nav {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home__navLogo {
  width: 227px;
  display: flex;
  justify-content: center;
}

.home__navLogo img {
  width: 46px;
  height: 45.45px;
  margin-right: 6px;
  margin-top: 8px;
}

.home__navLogo h3 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}

.home__nav ul {
  width: 923px;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.home__nav li a {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #ff8c42;
}

/* home main */

.home__info {
  height: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home__infoText {
  width: 40%;
  margin-left: 85px;
}

.home__infoText h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 120px;
}

.home__infoText p {
  margin: 72px 0;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
}

.home__infoText-inp input[type="text"] {
  height: 48px;
  width: 285px;
  border: 4px solid #ff8c42;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: transparent;
}

.home__infoText-inpBtn {
  height: 48px;
  width: 198px;
  background: #ff8c42;
  border: 4px solid #ff8c42;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.5s;
}

.home__infoText-inpBtn:hover {
  transition: transform 0.5s;
  transform: scale(1.02);
}

.home__infoText-btn {
  margin-top: 72px;
  width: 191px;
  height: 68px;
  background: #ff8c42;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.5s;
}

.home__infoText-btn:hover {
  transition: transform 0.5s;
  transform: scale(1.02);
}

.home__img {
  width: 60%;
}

.home__img img {
  max-width: 100%;
  height: auto;
}

/* MENU */

.menu {
  width: 100%;
  position: relative;
}

.menu h2 {
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 152px;
  line-height: 221px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ff8c42;
}

.menu__block {
  display: flex;
  justify-content: space-around;
}

.menu__block-img {
  width: 25%;
}

.menu__block-img img {
  position: absolute;
  left: 0;
}

.menu__block-items {
  width: 37%;
}

.menu__block-items h5 {
  font-family: "Kosugi", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffddc8;
}

.menu__block-items h5:nth-child(1) {
  margin-bottom: 65px;
}

.menu__block-items ul {
  margin-bottom: 40px;
}

.menu__block-items li {
  width: 640px;
  height: 53px;
  font-family: "Kosugi";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffddc8;
}

.menu__block-gourmet {
  width: 37%;
}

.menu__block-gourmetWrapper {
  display: flex;
}

.menu__block-gourmetWrapper-text {
  width: 346px;
  height: 135px;
  margin-bottom: 20px;
}

.menu__block-gourmetWrapper-price {
  width: 175px;
  height: 45px;
  font-family: "Kosugi";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffddc8;
}

.menu__block-gourmet h5 {
  margin-bottom: 65px;
  font-family: "Kosugi";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffddc8;
}

.menu__block-gourmet p:nth-child(1) {
  font-family: "Kosugi";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #ffddc8;
}

.menu__block-gourmet p:nth-child(2) {
  width: 346px;
  height: 96px;
  font-family: "Kosugi";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 137.5%;
  display: flex;
  align-items: center;
  text-transform: lowercase;
  color: #ffddc8;
}

.menu__btn {
  width: 600px;
  margin: 0 auto;
}

.menu__btn button {
  width: 247px;
  height: 64px;
  background: #ff8c42;
  border-radius: 5px;
  font-family: "Kosugi";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #ffddc8;
}

/* PIZZA OF THE MONTH */

.monthPizza {
  width: 100%;
  height: 1080px;
  padding-top: 132px;
  position: relative;
}

.monthPizza h2,
.monthPizza p {
  margin-left: 148px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  text-align: left;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #ffffff;
}

.monthPizza p {
  margin-left: 204px;
  margin-bottom: 16px;
}

.monthPizza h2 span {
  color: #ff8c42;
}

.monthPizza p span {
  font-size: 96px;
  line-height: 120px;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #ff8c42;
}

.monthPizza__wrapper {
  display: flex;
  justify-content: space-between;
}

.monthPizza__wrapper-img {
  width: 851px;
  height: 771.93px;
}

.monthPizza__wrapper-line {
  position: absolute;
  top: 132px;
  left: 56%;
  height: 976px;
  width: 1890px;
  border-left: 21px solid #ff8c42;
  transform: skew(-30deg);
}

.monthPizza__wrapper-menuList {
  margin-left: 15px;
  transform: skew(-30deg);
}

.monthPizza__wrapper-menu li {
  transform: skew(30deg);
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #ffddc8;
  margin-top: 38px;
}

.monthPizza__wrapper-menuBtns {
  margin-top: 121px;
  margin-right: 274px;
  width: 515px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.monthPizza__wrapper-menuBtns button {
  width: 201px;
  height: 60px;
  background: #ff8c42;
  border-radius: 5px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #ffffff;
}

/* RESERVATION */
.reservation {
  height: 1080px;
  width: 100%;
  position: relative;
}

.reservation__bg .clover {
  position: absolute;
  left: 0;
  top: 37px;
}

.reservation__bg .pepper {
  position: absolute;
  left: 544px;
  top: 37px;
}

.reservation__bg .paprica {
  position: absolute;
  bottom: 0;
  left: 568px;
}

.reservation__bg .salad {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.reservation__form-wrapper
 {
  box-sizing: border-box;
  position: absolute;
  width: 626px;
  height: 926.14px;
  right: 141px;
  top: 77px;
  background: rgba(255, 255, 255, 0.05);
  border-width: 3px 1px 1px 3px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  border-radius: 10px;
}

.form__header {
  margin-top: 38px;
  margin-bottom: 7px;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: #dddddd;
}

.form p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: capitalize;
  color: #ffffff;
}

.form p:nth-child(2) {
  margin-bottom: 7px;
}

.form__inputs {
  margin-top: 204px;
  margin-bottom: 76px;
}

.form__inputs div {
  margin: 37px auto 0 auto;
  width: 424px;
}

.form__inputs span {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-right: 15px;
}

.form__inputs input[type="text"] {
  width: 75%;
  background-color: transparent;
  padding-left: 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px dashed white;
}

.form__inputs .form__quantity input {
  width: 52%;
}

.form__inputs .form__time input {
  width: 60%;
}

.form__btn{
  display: flex;
  justify-content: center;
}

.form__btn input {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;

  width: 155px;
  height: 42px;
  background: #ff8c42;
  border-radius: 5px;
}
